.main-container {
    background-color: hsl(217, 19%, 30%);
    border-radius: 10px;
    width: 80%;
    padding: 3em 2em;
    max-width: 520px;
    margin: 10em auto 4em;
    text-align: center;
    position: relative;
}

.main-divider {
    color: hsl(193, 38%, 86%);
    display: block;
    margin: 0 auto 1em;
    width: 90%;
}

.main-dice-button {
    background-color: hsl(150, 100%, 66%);
    border: solid 2px hsl(150, 100%, 66%);
    border-radius: 50%;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 235px;
    bottom: -24px;
}