html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(217, 19%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(193, 38%, 86%);
}
.attribution a {
    color: hsl(150, 100%, 66%);
}
